# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Tests
.pytest_cache/

# Environment variables
.env

# IDE
.vscode/

# Logs
logs/*.log

# Generated datasets
data/trusted/
data/curated/
data/rejected/
data/audiences/